* {
    box-sizing: border-box;
}

header {
    text-align: center;
    background-image: linear-gradient(to right, rgb(75, 75, 218), navy);
    color: white;
    padding: 3px;
}

input {
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.searchBtn {
    background-color: lightskyblue;
    color: white;
    border-radius: 5px;
    width: 100%;
}

section {
    padding: 1.0rem;
}

.citySearch, .currentCity {
    font-weight: bold;
}

.city-container {
    border: 5px, solid, grey;
}

.favorable {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: black;
}

.severe {
    background-color: red;
    color: white;
}

.city-name {
    width: 89%;
}

